*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;}

body {
    width: 100%;
    overflow-x: scroll;}

.nav{
    display: grid;
    margin-top: 1%;
    margin-bottom: 1%;
    grid-template-columns: 2fr 1fr 1fr 1fr 4fr;
    grid-template-areas: "logo btn1 btn2 btn3 logIn";}
    .nav button{
        border: transparent;
        background-color: transparent;
        margin-left: 40%;
        font-weight: bolder;}
    .nav .logo{
        grid-area: logo;
        padding-left: 5%;
        padding-right: 5%; } 
    .nav #btn1{grid-area: btn1;}
    .nav #btn2{grid-area: btn2;}
    .nav #btn3{grid-area: btn3;}
    .nav #btnLoginUser{
        grid-area: logIn;
        width: 25%;
        border-radius: 30%;
        background-color: #5227cc;
        color: white;}
.header{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;}
    .header img{width: 100%;}
    .header .txtHeader{
        position: absolute;
        width: 50%;}
    .header .headerTitle{
        color: white;
        font-size: 350%;
        font-weight: bolder;
        margin-bottom: 10%;}
    .header .headerText{
        color: white;
        font-size: 200%;
        text-align: center;
    }        
#aboutUs{height: 70%}
    #aboutUs .container{
    background-color: rgb(82,152,255);
    display: grid;
    height: 70%;
    padding: 5% 10% 10% 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img1 txt1"
                         "txt2 img2";}
    #aboutUs .imgAboutUs1{grid-area:img1;}
    #aboutUs .imgAboutUs2{grid-area: img2;}
    #aboutUs .one{grid-area: txt1;}
    #aboutUs .two{grid-area: txt2;}
    #aboutUs img{
        height: 85%;
        width: 100%;}
    .container .title{
        font-size: 150%;
        font-weight: bolder;
        color: white;
        justify-self: center;
        align-self: center;
        margin-bottom: 2%;
    }
    #aboutUs .txtAboutUs{
    display: flex ;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 80%;
    font-size: 150%;
    color: white;}
.oportunities{display: flex; flex-direction: column;}
    .oportunities .oportunitiesTitle{
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        font-size: xx-large;}
    .oportunities .txtTitle{
        display: flex;
        align-self: center;
        text-align: center;
        width: 70%;}
    .oportunities .cardContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;}
    .oportunities .cardMenu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "imgCard add"
                        "txt txt";
        margin:1% 1% 1% 1%;
        width: 90%;
        height: 30vh;
        border-radius: 5%;}
    .cardMenu .add{        
        grid-area: add;
        justify-self: right;
        align-self: center;
        padding-right: 20%;}
    .cardMenu .imgCard{
        grid-area: imgCard;
        align-self: center;
        justify-self: center;}
    .cardMenu p{
        grid-area: txt;
        font-size: 300%;
        color: white;
        padding-left: 5%;}
    .oportunities #volunteer{
    background-color: #dc3545;}
    .oportunities #donate{
    background-color: #ff9c07;}
    .oportunities #recycle{
    background-color: #28a745;}
    .oportunities #work{
    background-color: #17a2b8;}
#news{background-color: rgb(82,152,255);}
    #news .newsTitle{
            color: white;
            font-size: 400%;
            text-align: center;
            padding-top: 10vh;
            padding-bottom: 5vh;}
    #news .cardContainer{
        display: flex;
        overflow: hidden;
        flex-direction: row;
        width: 100%;}
    #news .card{
        height: 70vh;
        width: 25vw;
        overflow: hidden;
        border-radius: 5%;
        margin: 20px 20px 20px 20px;
        background-color: white;
        display: flex;        
        flex-direction: column;}
    #news .imgCard{
        height: 50%;
        width: 100%;}
    #news .img{
        width: 50%;
        height: 100%;}
    #news .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;}
    #news .timeContainer,.dateContainer{
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;}    
    #news .cardTitle{
        margin-top: 10%;
        font-size: 200%;
        text-align: center;
    }
    #news .txtCard{
        margin-top: 10%;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
#contact{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    gap: 20px;}
    #contact .imgContact{
        width: 100%;}
    #contact .contactContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;}
    #contact h2{
        font-size: 400%;
        text-align: center;}
    #contact .contactForm{
        margin-top: 10%;
        display: flex;
        width: 100%;
        padding-right: 5%;
        flex-direction: row;}
    .contactForm div{
        display: flex;
        flex-direction: column;
        width: 90%;}
    .contactForm #count{text-align: end;}
    .contactForm label,input{
        width: 100%;
        height: 30px;
        border-radius: 5%;}
    .contactForm .messageContainer input{height: 100%;}
    .contactContainer #send{
        width: 20%;
        height: 40px ;
        margin-top: 20px;
        align-self: center;
        border-radius: 30%;
        background-color: #5227cc;
        color: white;}
.footer{
    background-color: #7749f8;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 30vh;
    margin-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    }
    .footer .imgLogo{
        width: 20%;
        height: fit-content;
        margin-top: 5%;}
    .footer .footerLinks{
        color: white;
        margin-left: 5%;
        margin-top: 5%;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        gap: 5%;}
    .footer .socialLinks{
        color: white;
        position: absolute;
        right: 0px;
        margin-right: 15%;
        top: 20%;}
    .socialLinks img{
        width: 40px;
        height: fit-content;}
    .socialLinks p{font-size: 200%;}
#popUpLogin{
    display: none;
    /* display: flex; */
    position: fixed;
    bottom: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.9;
    z-index: 8;
    justify-content: center;
    align-items: center;
    }
    #popUpLogin .loginBox{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: row;
        border: solid black 1px;
        gap: 10px;}
    .loginBox #imgLogin{width: 50%;}
    .loginBox .register{
        width: 50%;
        background-color: white;
        position: relative;}
    .loginBox .register .txtRegister{
        font-size: 30px;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;}
    .register #forBussines,#forMe{
        display: flex;
        background-color: white;
        flex-direction: row;
        align-items: center;
        position: relative;
        border:solid black 1px;
        border-radius: 10%;
        width: 90%;
        height: 30%;
        margin-top: 10px;}
    #forBussines,#forMe p{
        font-size: 30px;
        font-weight: bolder;}
    #forBussines p{color: #17a2b8;}
    #forMe p{color: #7749f8;}
    #briefcase{
            background-color: #17a2b8; 
            width: 20%;
            height:100%;
            border-radius: 10%;
            position: relative;}
    #person{
            background-color: #7749f8; 
            width: 20%;
            height:100%;
            border-radius: 10%;
            position: relative;}
    .register img{
            width:100%; 
            height: 50%;
            display: flex;
            position:absolute;
            top: 20%;}
    .register #exit{
        position: absolute;
        right:5%;
        top: 5%;
        width: 10%;
        height: 10%;
        background-color:white;}
    #userBox{
        /* display: flex; */
        display: none;
        position: absolute;
        width: 50%;
        height: 50%;
        background-color: #17a2b8;
        z-index: 9;
        flex-direction: column;
        justify-content: center;
        align-items: center;}        
        .userBox #ok,#close{
        width: 25%;
        height: 10%;
        margin-top: 20px;}